@font-face {
	font-family: metTitle;
	src: url(fonts/UtopiaStd-Bold.otf);
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: Noto Sans,sans-serif;
	font-size: 12px;
	background: #e9ecef
}
.headerbar {
	display: block;
	width: 100%;
	height: 42px;
	background: #fff;
	padding: 17px 10px 18px 14px;
	margin: 0;
	border: none;
	box-sizing: content-box;
}
.headerlogo {
	display: inline-block;
	width: 45%;
}
.logolink {	text-decoration: none; }
#logo {	width: 215px; margin-left:8%; }
.headermsg {
	display: inline-block;
	float: right;
	font-size:18px;
	text-align: right;
	width: 45%;
	margin-right: 6%;
	margin-top: 5px;
}
#custname { display: inline-block; vertical-align: middle; padding-right: 5px; }
#accounticon { display: inline-block; vertical-align: middle; width: 30px; }

/*-- page elements --*/
.pagetitle {
	display: block;
	text-align: center;
	font-size: 32px;
	font-family: metTitle;
	padding: 35px 0px 0px 0px;
}
.pagesubtitle {
	display: block;
	font-size: 12px;
	text-align: center;
	padding: 0px 0px 20px 0px;
	color: #75787B;
}
/*-- page menu --*/
.menu {
	display: block;
	text-align: center;
	width: 100%;
	height: 30px;
	padding: 10px;
	background-image: linear-gradient(55deg, #0090DA, #0061A0, #0061A0, #0090DA);
	box-sizing: content-box;
}
nav a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0px 35px 35px 0px;
}
#menuhr {
	background-image: linear-gradient(55deg, #A7FA02, #A4CE4E, #A7FA02);
	height: 5px;
}
/* -- Dashboard Content --*/
.contentmenu {
	display: inline-block;
	width: 20%;
	margin: 20px 5px 5px 5px;
}
.contentmenuhdr {
	display: block;
	height: 15px;
	padding: 5px;
	color: #fff;
	background-color: #0061A0;
	text-align: center;
	border-radius: 10px 0px 10px 0px;
	font-size: 12px;
	font-weight: bold;
	box-sizing: content-box;
}
.contentmenubutton {
	display: block;
	width: 100%;
	padding: 18px;
	background-color: #0090DA;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	border: none;
	margin: 2px 0px 0px 0px;
	border-radius: 10px 10px 10px 10px;
}
.contentmenubutton:hover{ background-color: #0061A0; }
#providerad {
	width: 100%;
	margin-top: 75px;
	border-radius: 10px;
}
.contentdash {
	display: flex;
	width: 90%;
	padding: 30px 0px 30px 0px;
	margin: auto;
}
.contentblock {
	display: inline-block;
	background: #fff;
	min-height: 620px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0px 20px 5px 20px;
	padding: 20px;
	border-radius: 15px;	
}
#mainwin { width: 60% }
#rightwin { width: 20% }
.contentblockhdr {
	display: block;
	height: 25px;
	padding: 10px 50px 10px 10px;
	background: #0061A0;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	border-radius: 10px 0px 10px 0px;
	box-sizing: content-box;
}
.contentitem { font-size: 14px; }
/*-- News & Info article styling --*/
.contentarticle {
	font-size: 12px;
	text-align: left;
	padding: 10px;
	margin-top: 10px;
}
.contentarticletitle {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}
.contentarticlelink {
	display: block;
	font-size: 12px;
	text-decoration: none;
	text-align: right;
	margin: 10px 0 20px 0;
}

/*-- Footer Styling --*/
#footerhr {
	display: block;
	background-image: linear-gradient(55deg, #A7FA02, #A4CE4E, #A7FA02);
	height: 5px;
	width: 90%;
	margin: auto;
}
#footer { 
	margin: auto;
	width: 90%;
	padding: 10px;
}
.footerlinks {
	font-size: 11px;
	margin: 30px 10px 10px 10px;
	text-align: left;
	text-decoration: none;
	color: #000;
}
